<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="">
    
    <div class="container">
        <header>
            <h1>Menu</h1>
            <div class="shopping">
                <img src="image/shopping.svg">
                <span class="quantity">0</span>
            </div>
        </header>



        <div class="list">
            {% for item in products %}
                <div class="item">
                    <!-- {% if item.outofstock == 'yes' %}
                        <img src="image/{sold.png}">
                    {% elif item.outofstock == 'no' %}
                        <img src="image/{{item.image}}">
                    {% endif %} -->
                    <img src="image/{{item.image}}">
                    <div class="title">{{item.name}}</div>
                    <div class="price">{{item.price}}</div>
                    <button onclick="addToCard({{loop.index-1}})">Add To Cart</button>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="card">
        <h1>Checkout</h1>
        <ul class="listCard">
        </ul>
        <div class="checkOut">
            <div class="total">0</div>
            <div class="closeShopping">Close</div>
            <button class="confirm">Confirm</button>
        </div>
    </div>

    <script src="app.js"></script>

      
</body>
</html>
